<!DOCTYPE html>
<html>

<head>
    <title>表單雙向綁定</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/all.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/regular.js" integrity="sha384-t7yHmUlwFrLxHXNLstawVRBMeSLcXTbQ5hsd0ifzwGtN7ZF7RZ8ppM7Ldinuoiif" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
    <script src="javascripts/vendor.js"></script>
</head>

<body class="bg-lighter">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Vue.js 練習</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">基礎教學</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">模板指令</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container my-5">
        <div class="row">
            <div class="col post">
                <!-- 練習開始 -->
                <h1 class="mt-0 text-muted">表單雙向綁定</h1>
                <div id="app">
                    <h4>字串</h4>
                    <p>{{text}}</p>
                    <input type="text" class="form-control" v-model="text">
                    <hr>
                    <pre>{{text2}}</pre>
                    <textarea cols="30" rows="3" class="form-control" v-model="text2"></textarea>
                    <hr>
                    <h4>Checkbox 與 Radio</h4>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="check1">
                        <label class="form-check-label" for="check1"> 你要不要看電影 </label>
                    </div>
                    <hr>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="check2" value="雞" v-model="checkboxArray">
                        <label class="form-check-label" for="check2">雞</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="check3" value="豬" v-model="checkboxArray">
                        <label class="form-check-label" for="check3">豬</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="check4" value="牛" v-model="checkboxArray">
                        <label class="form-check-label" for="check4">牛</label>
                    </div>
                    <p>晚餐火鍋裡有
                        <span>${ checkboxArray }</span>。</p>
                    <hr>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio2" value="雞" v-model="singleRadio">
                        <label class="form-check-label" for="radio2">雞</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio3" value="豬" v-model="singleRadio">
                        <label class="form-check-label" for="radio3">豬</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio4" value="牛" v-model="singleRadio">
                        <label class="form-check-label" for="radio4">牛</label>
                    </div>
                    <p>晚餐火鍋裡有 ${ singleRadio }</p>
                    <hr>
                    <h4>Select</h4>
                    <select name="" id="" class="form-control" v-model="selected">
                        <option>雞</option>
                        <option>豬</option>
                        <option>牛</option>
                    </select>
                    <div>你選的肉類是 ${ selected }</div>
                </div>
                <script>
                var app = new Vue({
                    el: '#app',
                    delimiters: ['${', '}'],
                    data: {
                        text: '',
                        text2: '',
                        textarea: '',
                        checkbox1: false,
                        checkboxArray: [],
                        singleRadio: '',
                        selected: '',
                    },
                });
                </script>
            </div>
        </div>
    </div>
</body>

</html>